/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

.nav-container {
  position: fixed;
  bottom: 0;
  width: 100%; /* Ensure it spans the full width of the screen */
  height: 80px;
  display: flex;
  justify-content: space-evenly; /* Space the buttons evenly */
  align-items: center;
  z-index: 5;
  background-color: white;

  .tab {
    flex: 1; /* Allow each button to take up an equal portion of the available space */
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: $col-a;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s linear;
    font-family: "Sunborn", sans-serif;

    &:hover {
      // border-bottom: 3px solid $col-a;
      scale: 1.1;
      color: #7898c5;
    }
  }
}

@media (min-width: 650px) {
  .nav-container {
    position: fixed;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    height: 250px;
    width: 70px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    opacity: 0.9;
    z-index: 3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid 1px $col-a;

    .tab {
      height: 20%;
      font-size: 12px;
      line-height: normal;
    }
  }
}
