$border: #ffffff; // Button text and border
$background: black; // Background
$border-radius: 8px;
$button: black; // Button BG and logo border
$main-text: white; // Main text
// $col-a: #141e5c;
$col-a: #669bbc;
$col-b: #d6ccc2;
$col-c: #f5ebe0;
$col-d: #e3d5ca;
$col-e: #d5bdaf;

$green: #3a5a40;
$option-1: #8ecae6;
$option-2: #a8dadc;
$option-3: #669bbc;
