/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

@font-face {
  font-family: "Sunborn"; /* Custom name for the font */
  src: url("../assets/fonts/sunborn-sans-one.otf") format("opentype"); /* Path to the font file */
  font-weight: normal; /* Adjust based on font's properties */
  font-style: normal; /* Adjust based on font's properties */
}

.about-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "Sunborn", sans-serif;
  background-color: $background;

  .topbar {
    // width: 100%;
    height: 125px;
    // background-color: $col-a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    // object-fit: fill;
  }
}

.feature-container {
  //   border: 1px solid black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: rgba(36, 36, 36, 0.05);
  border-radius: 5px;
  color: white;

  #about-space {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // text-align: center;
    gap: 0;

    h2 {
      text-align: center;
      text-decoration: underline;
    }

    .info-container {
      padding-top: 0;
      width: 100%;
      text-align: center;

      ul {
        list-style: none;
        // margin-left: 20px;
      }
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
  }
}

.split-container {
  width: 85%;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;

  .title-container {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: white;
      font-size: 38px;
    }
    .welcome-to {
      width: 100%;
      max-width: 450px;
      height: auto;
    }
  }

  .info-container {
    padding-top: 50px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;

    ul {
      list-style: disc;
      margin-left: -30px;
    }
  }
}

.view-options {
  margin-bottom: 20px;
  display: none;
}

.view-options button {
  margin: 0 10px;
  cursor: pointer;
}

.gallery-container {
  position: relative; /* Allows child elements to be positioned relative to this container */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  width: 125%;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  border-top: solid 2px #ddd;
  border-bottom: solid 2px #ddd;
  padding-top: 50px;
  padding-bottom: 80px;
}
.gallery-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-grid img {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
  border: solid 2px #ddd;
}

.gallery-grid img:hover {
  transform: scale(1.1);
}

.image-gallery {
  width: 100%;
  margin: 0 auto;

  .image-gallery-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .image-gallery-slide-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-gallery-thumbnails {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}

.image-gallery-thumbnails-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 10px;

  .image-gallery-thumbnail {
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      display: block;
    }

    &:hover {
      // transform: scale(1.1);
      border-color: white;
    }
  }

  .image-gallery-thumbnail.active {
    border-color: $col-a;
  }
}

.about-content {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 90%;
  display: flex;
  justify-content: center;

  iframe {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

/* Mobile-Specific Adjustments */
@media (max-width: 768px) {
  .about-container {
    h1 {
      font-size: 26px;
    }
    .logo {
      width: 80px;
      top: 5px;
    }
  }
  .image-gallery {
    padding: 0 10px;

    .image-gallery-image {
      height: 400px;
    }

    .image-gallery-thumbnails-wrapper {
      margin-top: 5px;

      .image-gallery-thumbnail {
        width: 50px;
        height: 50px;
      }
    }
  }
  .image-gallery-play-button,
  .image-gallery-fullscreen-button {
    display: none;
  }
}

/* Extra-Small Screens */
@media (max-width: 480px) {
  .image-gallery {
    .image-gallery-image {
      height: 300px;
    }

    .image-gallery-thumbnails-wrapper {
      display: none;
    }
  }
}

@media (min-width: 650px) {
  .view-options {
    display: block;
    position: absolute; /* Position it relative to the .gallery-container */
    bottom: 10px; /* Adjust this value to set the distance from the bottom */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Correct centering offset */
    display: flex; /* Keep the buttons inline */
    justify-content: center;
    gap: 10px; /* Add spacing between buttons if needed */

    button {
      width: 120px;
      height: 40px;
    }
  }
}

@media (min-width: 900px) {
  .split-container {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 20px;

    .title-container {
      width: 40%;
      font-size: 20px;
      font-weight: bold;
      text-align: right;

      .welcome-to {
        width: 450px;
        height: auto;
      }
    }

    .info-container {
      width: 60%;
      font-size: 16px;
      text-align: left;
      line-height: 1.6;
    }
  }
}

// TODO: Underline headers and ensure everything is centered + button makeover
