/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

.about-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    width: 100%;
    height: 100px;
    margin: 0;
    color: white;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.341);
    text-align: center;
    background-color: $col-a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    // margin-bottom: 100px;
  }

  .logo {
    position: absolute;
    width: 120px;
    height: auto;
    top: -10px;
    left: 0;
    z-index: 3;
  }
}

.feature-container {
  //   border: 1px solid black;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: rgba(36, 36, 36, 0.05);
  border-radius: 5px;

  h3 {
    font-size: 16px;
    font-weight: 100;
  }
}

.split-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .title-container {
    font-weight: bold;
    text-align: center;

    h2 {
      color: $col-a;
      font-size: 35px;
      // font-family: ;
    }
  }

  .info-container {
    width: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;

    ul {
      list-style: disc;
      margin-left: -30px;
    }
  }
}

.view-options {
  margin-bottom: 20px;
  display: none;
}

.view-options button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  // max-width: 80%;
  width: 125%;
  // margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
}
.gallery-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-grid img {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery-grid img:hover {
  transform: scale(1.1);
}

.image-gallery {
  width: 100%;
  margin: 0 auto;

  .image-gallery-image {
    object-fit: cover;
    width: 100%;
    height: auto; /* Ensure the height scales dynamically */
    border-radius: 10px;
  }
}

.image-gallery-thumbnails-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  .image-gallery-thumbnail {
    width: 60px; /* Smaller thumbnails for mobile */
    height: 60px;
  }
}

.about-content {
  padding-top: 50px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: rgba(36, 36, 36, 0.05);
  // background-color: rgba(147, 29, 29, 0.912);
}

.map-container {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 90%;
  display: flex;
  justify-content: center;

  iframe {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

/* Mobile-Specific Adjustments */
@media (max-width: 768px) {
  .about-container {
    h1 {
      font-size: 26px;
    }
    .logo {
      width: 80px;
      top: 5px;
    }
  }
  .image-gallery {
    padding: 0 10px; /* Add some padding for smaller screens */

    .image-gallery-image {
      height: 400px; /* Scale down image height for smaller viewports */
    }

    .image-gallery-thumbnails-wrapper {
      margin-top: 5px;

      .image-gallery-thumbnail {
        width: 50px; /* Further reduce thumbnail size for mobile */
        height: 50px;
      }
    }
  }
  .image-gallery-play-button,
  .image-gallery-fullscreen-button {
    display: none; /* Hide fullscreen/play buttons on mobile */
  }
}

/* Extra-Small Screens */
@media (max-width: 480px) {
  .image-gallery {
    .image-gallery-image {
      height: 300px; /* Further adjust for very small screens */
    }

    .image-gallery-thumbnails-wrapper {
      display: none; /* Hide thumbnails for extra-small screens */
    }
  }
}

@media (min-width: 650px) {
  .view-options {
    display: block;
  }
}

@media (min-width: 900px) {
  .split-container {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 20px;

    .title-container {
      width: 40%; /* Adjust as needed */
      font-size: 20px;
      font-weight: bold;
      text-align: right;
    }

    .info-container {
      width: 60%; /* Adjust as needed */
      font-size: 16px;
      text-align: left;
      line-height: 1.6;

      ul {
        list-style: disc;
        margin-left: 20px;
      }
    }
  }
}
