/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
