/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

.contact-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "Sunborn", sans-serif;
  background-color: $background;
  overflow: hidden;

  .topbar {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-bottom: solid 2px #ddd;
  }
}

.contact-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  align-items: center;
}

.success-message {
  text-align: center;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 25px;
  width: 100%;
  padding: 10px;

  label {
    color: white;
  }

  input {
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px $col-a solid;
  }
}

.name {
  border: 2px black solid;
  height: 30px;
  width: 50%;
  max-width: 400px;
}
.email {
  border: 2px black solid;
  height: 30px;
  width: 50%;
  max-width: 400px;
}

.message {
  border: 2px $col-a solid;
  width: 75%;
  height: 200px;
  max-width: 600px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}

.submit-button {
  margin-top: 15px;
  border: 2px white solid;
  border-radius: 5px;
  background-color: $col-a;
  color: white;
  width: 180px;
  font-size: 25px;
  height: 60px;
}

@media (max-width: 768px) {
  .contact-container {
    h1 {
      font-size: 26px;
    }
    .logo {
      width: 80px;
      top: 5px;
    }
  }
}
