/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $col-a;
  color: white;
  padding: 20px 50px;
  border-top: 1px solid white;
  z-index: 2;
  width: 100%;

  .footer-section {
    flex: 1;

    &.logo {
      img {
        max-width: 250px;
        margin-left: 50px;
        margin-top: 5px;
      }
    }

    &.links {
      display: flex;
      justify-content: center;
      align-items: stretch;
      height: 100%;
      min-height: 250px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        li {
          margin: 0;

          a {
            color: white;
            font-weight: bold;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &.contact {
      p {
        margin: 1px 0;
        font-size: 16px;
        &.footer-title {
          text-decoration: underline;
          font-family: "Sunborn", sans-serif;
        }
      }

      .social-links {
        display: flex;
        gap: 15px;
        margin-top: 10px;

        a {
          color: white;
          font-size: 30px;

          &:hover {
            color: $col-b;
          }
        }
      }
    }
  }

  // Media Query for Mobile
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;

    .footer-section {
      &.logo {
        margin-bottom: 20px;
        text-align: center;

        img {
          max-width: 200px;
        }
      }

      &.links,
      &.contact {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        border-top: 2px solid white;
        padding-top: 30px;

        ul {
          justify-content: center;

          li {
            margin: 12px 0;
          }
        }
      }

      .contact {
        .social-links {
          justify-content: center;
        }
      }
    }
  }
}
