/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

footer {
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $col-a;
  z-index: 5;
  padding: 10px 0;

  .btn {
    height: 25px;
    width: 100px;
    border: none;
    background-color: transparent;
    color: white;
  }
}
